asgiref                   3.5.2          
ca-certificates           2023.05.30     
cffi                      1.15.1         
cryptography              41.0.2         
django                    4.1            
django-environ            0.11.1
dnspython                 2.2.1          
expat                     2.4.9          
freetype                  2.12.1         
giflib                    5.2.1          
idna                      3.4            
jpeg                      9e             
krb5                      1.20.1         
lcms2                     2.12           
lerc                      3.0            
libcxx                    14.0.6         
libdeflate                1.17           
libedit                   3.1.20221030   
libffi                    3.4.4          
libiconv                  1.16           
libpng                    1.6.39         
libpq                     12.15          
libtiff                   4.5.0          
libwebp                   1.2.4          
libwebp-base              1.2.4          
lz4-c                     1.9.4          
mypy                      0.981          
mypy_extensions           0.4.3          
ncurses                   6.4            
openssl                   1.1.1v         
pillow                    9.4.0          
pip                       23.2.1         
psutil                    5.9.0          
psycopg2                  2.9.3          
pycparser                 2.21           
pymongo                   3.12.0
python                    3.9.6          
pytz                      2022.7         
readline                  8.2            
setuptools                68.0.0         
sqlite                    3.41.2         
sqlparse                  0.4.4          
tk                        8.6.12         
toml                      0.10.2         
tomli                     2.0.1          
typing_extensions         4.7.1          
tzdata                    2023c          
wheel                     0.38.4         
xz                        5.4.2          
zlib                      1.2.13         
zstd                      1.5.5          
