{% extends 'main/base.html' %}

{% block content %}
    
<div class=container>
  <h1>Your Profile</h1>

        <h2 class="account-heading">User Name: {{ user }}</h2>
  <div class="card">
    <div class="content-section bg-body-tertiary">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="card-body">
        <h4>Email: </h4>
        <p class="card-text">{{ user.email }} </p>
        <h4>Nationality:</h4>
        <p class="card-text">{{ user.profile.nationality }} </p>
        <h4> Primary Cammping Style: </h4>
        <p class="card-text">{{ user.profile.camp_type }} </p>
      </div><a href="#" class="btn btn-outline-info mb-3">Go somewhere</a>
    </div>
  </div>
</div>

{% endblock %}

