<div class="container-fluid pt-2 pr-5 pl-4" style="background-color: #B0C4DE;">
  
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <li><a href="{% url 'current-comps'  %}">Current Competitions</a></li>
        <li><a href="{% url 'winners'  %}">Winners</a></li>
        <li>Ticket Lists</li>
        <li><a href="{% url 'faq'  %}">Frequently asked Questions</a></li>
        <li><a href="{% url 'terms'  %}">Terms And Conditions</a></li>
        <li><a href="{% url 'contact'  %}">Contact</a></li>
        <li><a href="{% url 'privacy'  %}">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-sm-6 text-right">

      <h4>Company Address</h4>
      <p>Street</p>
      <p>Town</p>
      <p>Post Code</p>
      <p>Links to Socials...</p>
    </div>

  </div>


</div>


