
<div class="container-fluid pt-2 pr-5 pl-4" style="background-color: #B0C4DE;">
  
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <li>Current Competitions</li>
        <li>Winners</li>
        <li>Ticket Lists</li>
        <li>Frequently asked Questions</li>
        <li>Terms And Conditions</li>
        <li>Contact</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="col-sm-6 text-right">

      <h4>Company Address</h4>
      <p>Street</p>
      <p>Town</p>
      <p>Post Code</p>
      <p>Links to Socials...</p>
    </div>

  </div>


</div>


