<div class="container-fluid pt-2" style="background-color: #FFA663;">
  


<div class="container-fluid row pt-3">
  <div class="col text-center mb-2"><h5>A small bit of skill to Enter</h5></div>
  <div class="col text-center mb-2"><h5>Look out for the live draws</h5></div>
  <div class="col text-center mb-2"><h5>Winners contacted directly</h5></div>
</div>
<div class="container-fluid row mb-4">
  <div class="col text-center"><img src="/media/default.jpg" style="width:100px;height:100px;"alt=""></div>
  <div class="col text-center"><img src="/media/default.jpg" style="width:100px;height:100px;"alt=""></div>
  <div class="col text-center"><img src="/media/default.jpg" style="width:100px;height:100px;"alt=""></div>
</div>


</div>


