{% extends 'main/base.html' %}

{% block content %}
    
<div class=container>
  
  <h1>{{ product.title }}: </h1>


    <div class="card mb-3">
       <img src="{{ product.image.url }}" class="card-img-top" alt="...">
       <h3 class="card-header mb-3">{{ product.title }}</h3>
        <div class="container">
              <div class="mb-2">
                  <a class="btn btn-primary btn-block" href="#">Buy Tickets</a>
              </div>    
              <h6>End Date:</h6>
                <p class="card-text ml-5">{{ product.end_date }}</p>
<h2 class="text-center">There will be a countdown timer in here</h2>
              <h6>Competition Owner:</h6>
                <p class="card-text ml-5">{{ product.owner }}</p>
              <h6>Description:</h6>
                <p class="card-text ml-5">{{ product.description }}</p>
      <div class="row">
        <div class="col-sm-3 p-3 bg-primary text-white">      
                <h6 class="text-center">Delivery Options:</h6>
                <p class="card-text text-center">{{ product.delivery }}</p>
        </div>
        <div class="col-sm-3 p-3 bg-dark text-white">
                <h6 class="text-center">Minimum Tickets:</h6>
                <p class="card-text text-center">{{ product.min_ticket }}</p>
        </div>
        <div class="col-sm-3 p-3 bg-primary text-white">
                <h6 class="text-center">Max Number of Tickets:</h6>
                <p class="card-text text-center ">{{ product.max_ticket }}</p>
          </div>
        <div class="col-sm-3 p-3 bg-dark text-white">
                <h6 class="text-center">How Many Winners:</h6>
                <p class="card-text text-center">{{ product.quantity_winners }}</p>
        </div>
      </div>
          <br>
            <div class="bg-info mb-4 mt-3</h3>">
              
            {% if product.char_percent %}
              <h4 class="text-center mt-3 mb-2">Charity Cause to Benefit</h4>
              <p class="text-center mb-2">{{ product.charity }} - {{ product.char_percent }}%</p>
            {% endif %}
        </div>
    
        </div>

              <div>
                  <a class="btn btn-primary btn-block" href="#">Buy Tickets</a>
              </div>    

    </div>
   
</div>

{% endblock %}

